<?xml version="1.0" ?>
<CEGUIConfig>

	<ResourceDirectory group="schemes" directory="./datafiles/schemes/" />
	<ResourceDirectory group="imagesets" directory="./datafiles/imagesets/" />
	<ResourceDirectory group="fonts" directory="./datafiles/fonts/" />
	<ResourceDirectory group="layouts" directory="./datafiles/layouts/" />
	<ResourceDirectory group="looknfeels" directory="./datafiles/looknfeels/" />
	<ResourceDirectory group="animations" directory="./datafiles/animations/" />
	<ResourceDirectory group="schemas" directory="./datafiles/xml_schemas/" />

	<DefaultResourceGroup type="Scheme" group="schemes" />
	<DefaultResourceGroup type="Imageset" group="imagesets" />
	<DefaultResourceGroup type="Font" group="fonts" />
	<DefaultResourceGroup type="Layout" group="layouts" />
	<DefaultResourceGroup type="LookNFeel" group="looknfeels" />
	<DefaultResourceGroup type="Animation" group="animations" />
	<DefaultResourceGroup type="XMLSchema" group="schemas" />

	<AutoLoad type="Scheme" group="schemes" pattern="ceguidemo.scheme" />

	<DefaultMouseCursor imageset="CEGUIDemo" image="MouseArrow" />
	<DefaultTooltip name="CEGUIDemo/Tooltip" />
	<DefaultFont name="MenuNormal" />

</CEGUIConfig>
